---
import ListCard from "../../../components/post-list/ListCard.astro";
import PostListLayout from "../../../layouts/post/PostListLayout.astro";
import Index from "../../../utils/IndexMDX";


const posts = await Astro.glob('./**/*.mdx');
const items = Index(posts)


---

<PostListLayout item={items} head={"마인크래프트"}>
<ul>
    {posts.map(x=>
    <li>
        <ListCard url={x.url} title={x.frontmatter.title} image={x.frontmatter.image}
        description={x.frontmatter.description} date={x.frontmatter.date}/>
    </li>)}
</ul>
</PostListLayout>