---
const { title, description,image,date,url } = Astro.props
---

<div class="border-2 rounded-xl border-teal-200 shadow-md m-2">
    <a href={url}>
        <div class="flex flex-row">
            <img src={image} class="w-40 h-40">
            <div class="divide-x-2 divide-stone-900 w-1"></div>
            <div>
                <h1>{title}</h1>
                <p class="text-end">{date}</p>
                <p>{description}</p>
            </div>
        </div>
    </a>
</div>
